<!doctype html>
<html lang="en">

<head>
    <title>Search By</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

 <script type="text/javascript">
    var obj = {{ mailData|safe }};
    console.log(obj)
    </script>
<style>
        .table td, .table th{ border:1px solid #b4b4b4; text-align: left;}
		.table td{ padding-left:10px;}
    </style>
</head>

<body style=" margin:0px auto; padding:2%;  background:#f2efef; font-family: Arial, Helvetica, sans-serif; color:#373447;">
    <div style="background:#fff; border-radius:4px; width:100%; max-width: 600px;   margin:0px auto;">
        <div style="padding:20px; background: #fff; min-height:200px; ">
             <table style=" margin-bottom:15px;">
				 <tr>
                     <td>please check any of the following submissions are good for your jobs..</td>
                 </tr>
			</table>
			 
            <table cellspacing="0" cellpedding="0" border="0" style="margin-bottom:15px;" class="table">
                <tr>
				<th>Recruiter Name</th>
				<th>Location</th>
				<th>Candidate Name</th>
				<th>BDM Name</th>
				<th>Client Name</th>
                </tr>
				{% for item in data %}
                 <tr>
                     <td>{{item.recruiter_name}}</td>
					 <td>{{item.location}}</td>
                     <td>{{item.candidate_name}}</td>
                     <td>{{item.bdm_name}}</td>
					 <td>{{item.client_name}}</td>
                 </tr>
				{% endfor %}
			</table>
        </div>
    </div>
</body>

</html>