<fieldset class="module aligned {{ fieldset.classes }}">
<!--    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}-->
<!--    {% if fieldset.description %}-->
<!--        <div class="description">{{ fieldset.description|safe }}</div>-->
<!--    {% endif %}-->
    <!--{% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                   <fieldset class="module aligned ">-->
        <div class="form-row field-template_name">


                <div>



                        <label class="required" for="id_template_name">Template name:</label>

                            <input type="text" name="template_name" class="vTextField" maxlength="255" required id="id_template_name">



                </div>

        </div>

        <div class="form-row field-subject">


                <div>



                        <label class="required" for="id_subject">Subject:</label>

                            <input type="text" name="subject" class="vTextField" maxlength="255" required id="id_subject">



                </div>

        </div>

        <div class="form-row field-body">


                <div>



                        <label class="required" for="id_body">Body:</label>

                            <textarea name="body" cols="40" rows="10" class="vLargeTextField" required id="id_body">
</textarea>
                     <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">Predefined Values:
                     <a class="label label-default"  onclick="getTag('<?=$field?>')" onclick="getTagSubject('<?=$field?>')">Name</a>

                     </div>



                </div>

        </div>

        <div class="form-row field-signature">


                <div>



                        <label class="required" for="id_signature">Signature:</label>

                            <textarea name="signature" cols="40" rows="10" class="vLargeTextField" required id="id_signature">
</textarea>



                </div>

        </div>

        <div class="form-row field-unsubscribe_url">


                <div>



                        <label class="required" for="id_unsubscribe_url">Unsubscribe url:</label>

                            <input type="text" name="unsubscribe_url" class="vTextField" maxlength="255" required id="id_unsubscribe_url">



                </div>

        </div>

    <!-- {% if field.is_textarea %}
                      <div class = "readonly">{{ field.contents }}</div>
                     {% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <div class="readonly">{{ field.contents }}</div>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <div class="help">{{ field.field.help_text|safe }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}-->
</fieldset>
