<!doctype html>
<html lang="en">

<head>
    <title>Search By</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>

<body style=" margin:0px auto; padding:2%;  background:#f2efef; font-family: Arial, Helvetica, sans-serif; color:#373447;">
    <div style="background:#fff; border-radius:4px; width:100%; max-width: 600px;   margin:0px auto;">
        <!--<div style="padding:30px 0px ; color:#f5e15e; text-align:center; font-size:24px;">
                Opallios Staffing Management System
        </div>-->
        <div style="padding:20px; background: #fff; min-height:200px; ">
             
			 <table style=" margin-bottom:15px;">
                 <tr>
                     <td style="font-weight:bold;">Hi Team,</td>
                 </tr>
				 <tr>
                     <td>New documents have been added for the following candidate:</td>
                 </tr>
			</table>	 
            <table style=" margin-bottom:15px;">
                 <tr>
                     <td width="200">Name</td>
                     <td>{{candidate_info.first_name}} {{candidate_info.last_name}}</td>
                 </tr>

                 {% if candidate_info.primary_phone_number %}
                 <tr>
                     <td>Number</td>
                     <td>{{candidate_info.primary_phone_number}}</td>
                 </tr>
                {% endif %}

                {% if candidate_info.primary_email %}
                 <tr>
                     <td>Primary Email</td>
                     <td>{{candidate_info.primary_email}}</td>
                 </tr>
                {% endif %}
                 <!--<tr>
                     <td>Availability to Start Project</td>
                     <td>NA</td>
                 </tr>-->
				
				{% if candidate_info.updated_by %}
                 <tr>
                     <td>Updated By</td>
                     <td>{{candidate_info.updated_by}} </td>
                 </tr>
                {% endif %}
				
				{% if repo_details.resume %}
                 <tr>
                     <td>Resume Available</td>
                     <td>Yes</td>
                 </tr>
                {% endif %}
				
				{% if repo_details.driving_license %}
                 <tr>
                     <td>Driving License Available</td>
                     <td>Yes</td>
                 </tr>
                {% endif %}
				
				{% if repo_details.offer_letter %}
                 <tr>
                     <td>Offer Letter Available</td>
                     <td>Yes</td>
                 </tr>
                {% endif %}
				
				{% if repo_details.passport %}
                 <tr>
                     <td>Passport Available</td>
                     <td>Yes</td>
                 </tr>
                {% endif %}
				
				{% if repo_details.rtr %}
                 <tr>
                     <td>RTR Available</td>
                     <td>Yes</td>
                 </tr>
                {% endif %}
				
				{% if repo_details.salary_slip %}
                 <tr>
                     <td>Salary Slip Available</td>
                     <td>Yes</td>
                 </tr>
                {% endif %}
				
				{% if repo_details.i94_document %}
                 <tr>
                     <td>I-94 Document Available</td>
                     <td>Yes</td>
                 </tr>
                {% endif %}
				
				{% if repo_details.visa_copy %}
                 <tr>
                     <td>Visa Copy Available</td>
                     <td>Yes</td>
                 </tr>
                {% endif %}
				
				{% if repo_details.educational_document %}
                 <tr>
                     <td>Educational Document Available</td>
                     <td>Yes</td>
                 </tr>
                {% endif %}

             </table>
			 <table style=" margin-bottom:15px;">
                 <tr>
                     <td>For more details please check OSMS.</td>
                 </tr>
			</table>
			<table style=" margin-bottom:5px;">
                 <tr>
                     <td style="font-weight:bold;">Regards,</td>
                 </tr>
				 <tr>
					 <td>{{sender_name}}</td>
                 </tr>
			</table>
            
    </div>
    </div>
</body>

</html>