<!doctype html>
<html lang="en">

<head>
    <title>Offer Latter Request</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>

<body style=" margin:0px; padding:0px; background:#fff;">
    <div style=" background:#fff; width:100%;  margin:0px;">
        <div style="margin:20px 0px;">
            <table cellspacing="0" cellpedding="0" border="0" width="100%" style="padding-bottom:20px; font-size:16px; font-family: Arial, Helvetica, sans-serif; color:#0c0c0b;">
                <tr>
                    <td style="font-weight:bold;">Hello Team,</td>
                </tr>
                <tr>
                    <td>Please check the attached resume and below details for the position of new profile</td>
                </tr>
            </table>
			
            <table cellspacing="0" cellpedding="0" border="1" width="100%" style="font-size:16px;  border:1px solid #0d0d0c; border-collapse: collapse; font-size:16px; font-family: Arial, Helvetica, sans-serif; color:#0c0c0b;">
                <tr>
                    <td style="padding-left:5px; padding-top:5px;" colspan="2">
                        <strong>Details Needed</strong>
                    </td>
                   
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px;">
                        Our submission rate (LPA) - CTC of the candidate
                    </td>
                    <td style="padding-left:5px; padding-top:5px;">
						{{ instance.candidate_ctc}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px;">
                        Client rate - billing rate
                    </td>
                    <td style="padding-left:5px; padding-top:5px;">
                        {{ instance.client_rate}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px;">
                        Joining Date
                    </td>
                    <td style="padding-left:5px; padding-top:5px;">
                        {{ instance.joining_date}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px;">
                        Contract Duration
                    </td>
                    <td style="padding-left:5px; padding-top:5px;">
                        {{ instance.contract_duration}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px;">
                        Expected Start date
                    </td>
                    <td style="padding-left:5px; padding-top:5px;">
                        {{ instance.expected_start_date}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px;">
                        BGC Steps if any
                    </td>
                    <td style="padding-left:5px; padding-top:5px;">
                        {{ instance.bgc_steps}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px;">
                        Expected working hours/timing on the projects
                    </td>
                    <td style="padding-left:5px; padding-top:5px;">
                        {{ instance.expected_working_hours}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px;">
                        Details about whether the laptop will be provided by the client or otherwise
                    </td>
                    <td style="padding-left:5px; padding-top:5px;">
                        {{ instance.laptop_provided}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px;">
                        Candidate Information sheet
                    </td>
                    <td style="padding-left:5px; padding-top:5px;">
                        {{ instance.candidate_information_sheet}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px;">
                        Resume in pdf format
                    </td>
                    <td style="padding-left:5px; padding-top:5px;">
                        {{ instance.resume}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px;">
                        Candidate is opting for Provident Fund.
                    </td>
                    <td style="padding-left:5px; padding-top:5px;">
                        {{ instance.provident_fund}}
                    </td>
                </tr>
            </table>
            <div>
                &nbsp;
            </div>
            <table cellspacing="0" cellpedding="0" border="1" width="100%" style="font-size:16px;  border:1px solid #0d0d0c; border-collapse: collapse; font-size:16px; font-family: Arial, Helvetica, sans-serif; color:#0c0c0b;">
                <tr>
                    <td width="50%" style="padding-left:5px; padding-top:5px; background:#ffd966;">
                        <strong>Candidate Details</strong>
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#ffd966;">
                        <strong>Supplier Response</strong>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        Candidate Name as per the Government ID Proof
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.candidate_name}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        Year of Experience
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.years_of_exp}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        Skill Set
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.skill_set}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        Contact Number
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.contact_no}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        Email ID
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                       {{ instance.email}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        DOB - DD/MM/Year
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.date_of_birth}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        Highest Education (Degree) (Ex: B.E, MCA etc)
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.degree}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        Highest Education (CGPA / Percentage)
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.percentage}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        Highest Education (University Name)
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.university_name}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        PAN Number
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.pan_no}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        Highest Qualification Completion Month and year
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.qualification_completion}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        Current Location
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.current_location}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        Tentative DOJ with Client.
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.tentative_joining_date}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        Name of the Client
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.client_name}}
                    </td>
                </tr>
                <tr> 
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        Client Location
                    </td> 
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.client_location}}
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        ECMS ID
                    </td>
                    <td style="padding-left:5px; padding-top:5px; background:#f5fcf0;">
                        {{ instance.ecms_id}}
                    </td>
                </tr>
            </table>
            <div>
                &nbsp;
            </div>

            <table cellspacing="0" cellpedding="0" border="0" width="100%" style=" margin-bottom:20px; font-size:16px; font-family: Arial, Helvetica, sans-serif; color:#0c0c0b;">
                <tr>
                    <td>For more details please check OSMS.</td>
                </tr>
            </table>
            <table cellspacing="0" cellpedding="0" border="0" width="100%" style="font-size:16px; font-family: Arial, Helvetica, sans-serif; color:#0c0c0b;">
                <tr>
                    <td style="font-weight:bold;">Regards,</td>
                </tr>
                <tr>
                    <td>ATS (BDMs)</td>
                </tr>
            </table>

        </div>
    </div>
</body>

</html>