<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<pre>

Job Title:
Site Reliability Engineer
Candidate should be able to Look at splunk logs / monitoring logs while the performance tests are run and analyse the logs to understand performance testing issues, whether they are related to , scalability, infra issues, CPU, memory, VM, etc. isolate whether it is functional or capacity constrain
Need to have expertise on Azure. Need Caasandra, Java stack, Splunk, logmon
Need to ensure production stabilization, cloud adoption, at the end of Performance testing … would need to work with infra team, configure application, ensure that the traffic is evenly distributed.
Should have good understanding of BCP and DR


Job Description:
Handle all infrastructure change needs through any non-functional threads.
Cloud Adoption
Capacity Adjustments based on Stress Test runs
ECV check enablement / disablement
DR Tests
Periodic Performance Evaluations through Stress tests, profiling application and system characteristics
Solve System level findings that needs solution through point 1 above
Consult with application teams on application level solutions based upon industry / walmart standards.
Tooling
Splunk dashboards
Instrumentation usage - Consume info and provide visibility across the board
Monitoring and Alerting - Share SLI / SLA / SLO baselines and trend related metrics
Stress test support
Observe and report on system characteristics across all Site facing services. During stress test no functionality is typically validated, but only system scalability and other system characteristics. Observing, reporting and taking actions like node-additions can definitely be done thru SRE
Introducing new technology or platform through evaluations
Ex: Uber move to Selar DB
Evaluation of new tech in Azure platform
CD / CI Management
Process management
Tools that aide with release check list validations with clear gates
CD / CI pipeline monitoring and metrics
Should be comfortable/effective to look at/build metrics/graphs, dive through logs, ssh into nodes. Use postman etc to identify request/response (data), call flows. Ramp up quickly on the system domain knowledge (Item, S&B, IRO, Rollups/Panama/Uber ecosystem)"
Key Skills:
Cloud



</pre>
</body>
</html>