<!doctype html>
<html lang="en">

<head>
    <title>Search By</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<style>
       
        table,
        td,
        th {
            font-size:15px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            line-height:20px;
            color: #0c0e14;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }
        table td{
            background:#fff;
        }
        .table,
        .table td,
        .table th {
            border: 1px solid #ddd;
            padding:0px 5px;
			height:30px;
			line-height:30px;
        }
        .table th{
            background:#f4f4f4;
        }
       
    </style>
</head>

<body style=" margin:0px auto; padding:0px;  font-family: Arial, Helvetica, sans-serif; color:#0c0e14; background:#fff;">
    <div style="background:#fff; border-radius:4px; width:100%; max-width: 100%;   margin:0px auto;">
        <div style="padding:0px; background: #fff; min-height:100px; ">
             <table style=" margin-bottom:10px;" width="100%" cellspacing="0" cellpedding="0" border="0">
				 <tr>
                     <td><strong>Recruiters,</strong> please check the candidates added today on the ATS.</td>
                 </tr>
				 <tr>
                     <td><strong>BDMs,</strong> please check any of the following candidates are good for your jobs.</td>
                 </tr>
			</table> 
			
			<table width="100%" cellspacing="0" cellpedding="0" border="0">
                <tr>
                    <td style="padding-top:10px; padding-bottom:10px;">
                        <strong style="color: #f20e0e;">Nothing added by these recruiters</strong>
                    </td>
                </tr>
                <tr>    
                    <td>
                        <table width="100%" cellspacing="0" cellpedding="0" border="0"  class="table">
                            <tr>
                                <th style="color: #f20e0e; padding-bottom:10px; ">Recruiter Name</th>
                                <th style="color: #f20e0e; padding-bottom:10px;">Added</th>
                            </tr>
							{% if no_submission|length %}
							{% for item in no_submission %} 
                            <tr> 
                                <td style="color: #f20e0e; padding-bottom:10px;">{{item}}</td>
                                <td style="color: #f20e0e; padding-bottom:10px;">0</td>
                            </tr>  
                          
							{% endfor %} 
							{% else %}
							<tr>
								<td colspan="2" style="text-align: center; color: #f20e0e;">No Records Found</td>
							</tr>
							{% endif %}
							
							<tr> 
                                <td style="color: #f20e0e; padding-bottom:10px;">&nbsp;</td>
                                <td style="color: #f20e0e; padding-bottom:10px;">&nbsp;</td>
                            </tr> 
						
				
                        </table>
                    </td>
                </tr> 
            </table>
			
				   
				{% if data|length %}
				{% for item in data %}
				<table width="100%" cellspacing="0" cellpedding="0" border="0" style="margin-bottom:10px;" class="table">
                
                 <tr>
                     <th colspan="5" style="text-align: center;">{{item.name}}</th>
                 </tr>
				<tr>
					<th>Date</th>
                    <th>Candidate</th>
                    <th>Email</th> 
                    <th>Phone Number</th>
					<th>Job Title</th> 
                    <!--<th>Job Title</th>
					<th>Min Rate/ Salary</th>
					<th>Max Rate/ Salary</th> 
				-->
                </tr> 
					{%  for user in item.user_data %}
					 <tr>
						 <td>{{user.created_at}}</td>
						 <td>{{user.candidate_name}}</td>
						 <td>{{user.primary_email}}</td>
						 <td>{{user.primary_phone_number}}</td>
						 <td>{{user.job_title}}</td>
						<!-- <td>{{user.job_title}}</td> 
						<td> {% if user.min_salary != None %}{{ user.min_salary }}{% else %}{{ user.min_rate }} {% endif %}</td>
						<td> {% if user.max_salary != None %}{{ user.max_salary }}{% else %}{{ user.max_rate }} {% endif %}</td>-->
					 
					 </tr>
					{% endfor %}
					
				<tr>
					<th></th>
                    <th>Total Candidate Added</th>
                    <th>{{item.total_candidate}}</th>
					<th></th>
					<th></th> 
                </tr>
				</table> 
				<br> 
				{% endfor %} 
				{% else %}
				<table width="100%" cellspacing="0" cellpedding="0" border="0" style="margin-bottom:10px;" class="table">
                <tr>
					<th>Date</th> 
                    <th>Candidate</th> 
                    <th>Email</th> 
                    <th>Phone Number</th> 
					<th>Job Title</th>
                    <!--<th>Job Title</th>
					<th>Min Rate/ Salary</th> 
					<th>Max Rate/ Salary</th>-->
                </tr>
				<tr>
					<td colspan="5" style="text-align: center; color: #f20e0e;">No Records Found</td>
                </tr>
				</table>
				{% endif %}
			</table>
        </div>
    </div> 
</body>
 
</html>