<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
    <link rel="stylesheet" type="text/css" />
    <style>
        @page {
    background-image: url('images/logo-watermark.jpg');
}
    </style>
</head>

<body>
    <div class="wraper">
        <div class="header">
                <div class="logo">
                    <div class="image">
                        <img src="images/logo.jpg">
                    </div>
                    <div class="text">
                        <strong>Opallios Inc.</strong>
                        <p>3375 Scott Blvd, Ste 406<br>
                                Santa Clara, CA – 95054<br>
                                www.opallios.com</p>
                    </div>
                </div>
                <div class="time">
                        Thursday, August 20, 2020
                </div>
                <div class="clear"></div>
        </div>
        <div class="content">
            <h1>Staffing Disclosure and Authorization to Represent</h1>
            <p>Opallios Inc. is a Software Development firm located in Santa Clara, CA. We also provide a service to job seekers
                and we do not demand that our candidates refrain from seeking employment directly or through other recruiters
                nor do we expect exclusive relationships with the Companies we serve.</p>
            <p>This document stipulates that you the candidate agree to be represented by the Opallios Inc., for the aforementioned
                role and that you understand you may only be represented by one agency for this particular job. Should another
                agency approach you with regards to the same vacancy working with the same organization, you are duty bound
                to advise them that you are already being represented by Opallios Inc.</p>
            <p>It is the responsibility of the represented candidate to declare if they have been dismissed from a previous
                job, if they have a criminal record for an unspent conviction or have been disqualified from a professional
                body. Any declaration of this type will be treated in the strictest confidence.</p>

            <h3>Company Disclosure and Authorization to Represent</h3>
            <p class="mTop-0">In consideration of Opallios Inc., and upon our disclosure to you of the Company's and or Prime Vendors identity,
                you grant Opallios Inc. the exclusive right to represent you for the position for a period of six months.
                If you are solicited to perform any services, or asked to hire indirectly, subcontract, or refer another
                person to perform any services for disclosed Company during a period of one year after Opallios Inc. presents
                your resume, you shall not accept the assignment before notifying Opallios Inc..</p>
            <p>Once you have submitted your resume and accepted our Terms and Conditions, we will give you the company information
                and submit your resume to our client for feedback. We will contact you ONLY if our client has expressed interest
                in speaking with you. </p>

            <div >
                <table class="table" cellspacing="0px" cell-pedding="0px">
                    <tr>
                        <td>JOB TITLE (if exists - Location / ref ID)</td>
                        <td>{{instance.job_title}}</td>
                    </tr>
                    <tr>
                        <td>RATE</td>
                        <td>{{instance.rate}}</td>
                    </tr>
                    <tr>
                        <td>CONSULTANT’S FULL LEGAL NAME</td>
                        <td>{{instance.consultant_full_legal_name}}</td>
                    </tr>
                    <tr>
                        <td>ADDRESS, CITY, STATE & ZIP</td>
                        <td>{{instance.address}}</td>
                    </tr>
                    <tr>
                        <td>LAST 4 SSN #’S</td>
                        <td>{{instance.last_4_ssn}}</td>
                    </tr>
                    <tr>
                        <td>Passport # / EAD #: (attach a copy of front page of the document)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>PHONE NO</td>
                        <td>{{instance.phone_no}}</td>
                    </tr>
                    <tr>
                        <td>EMAIL</td>
                        <td>{{instance.email}}</td>
                    </tr>
                </table>
            </div>

            <div class="signature-sec">
                <div class="signature">
                        <label class="form-label">Email</label>
                        <input type="text"  class="form-control-plaintext" id="" value="">
                </div>
                <div class="date">
                        <label class="form-label">Date</label>
                        <input type="text"  class="form-control-plaintext" id="" value="">
                </div>
                <div class="clear"></div>
            </div>

        </div>

    </div>
</body>

</html>