<!doctype html>
<html lang="en">

<head>
    <title>RTR Description</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
    <div class="job-description-section">

        <h2 class="text-center">Candidate Name:</h2>
        <p>{{ instance.candidate_name}}</p>

        <h2 class="text-center">Yearly Income:</h2>
        <p>{{ instance.yearly_income}}</p>

        <h2 class="text-center">LIC Deduction</h2>
        <p>{{ instance.lic_deduction}}</p>

        <h2 class="text-center">SIP Deduction</h2>
        <p>{{ instance.sip_deduction}}</p>

    </div>

</body>

</html>